body{
  font-family: sans-serif;
  text-align: center;
}

#bgImage{
  display: none;
}
canvas{
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}
#scores{

}
#score1{
    display:inline;
  text-align: left;
}
#score2{
    display:inline;
  text-align: right;
}
#indeicator{
    display:inline;
  text-align: center;
}
